* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main {
  min-height: 100vh;
  background-image: 
    linear-gradient(rgba(10, 10, 10, 0.5), rgba(10,10,10,0.5)),
    url(bg.jpeg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}


.title-img {
  max-width: 100%;
  width: 600px;
  height: auto;
}


.button {
  margin-top: 20px;
}


.btn {
  border: 1px solid #fff;
  padding: 10px 25px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s ease;
  border-radius: 4px;
  background-color: #fff ;
  color: #000;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}


@media (max-width: 480px) {
  .btn {
    font-size: 16px;
    padding: 8px 20px;
  }

  .title-img {
    width: 90%;
  }
}
